
.backgroundImg{
  background-image: linear-gradient(to right, rgba(124, 230, 100, 0.58), rgba(180, 21, 82, 0.48)), url(../../assets/home-background-3.jpg);
  width: 100%;
}

.main{
  display: flex;
}

//.mainContent{
//  max-width: ;
//}

.wrapperContent{
  max-width: 1290px;
  width: 100%;
  margin: 64px auto 0;
  display: flex;
}

.titleWrapper{

}

.textBlock{
  display: block;
}

.titleWrapper{
  margin: 20px 0;
}

.getString:before,.listParam:before,.optionsParam:before,.howParam:before{
  display: inline-block;
  min-width: 24px;
  //content: counter(list-item) ".";
  font-weight: 600;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-style: normal;
  letter-spacing: -0.2px;
  color: rgb(103, 107, 139);
  font-size: 16px;
  line-height: 24px;
  content: url("../../assets/playoffs/ulDot.svg");
}

.requirementsList{
  max-height: 128px;
  opacity: 1;
  padding: 0px 16px 16px;
  overflow: hidden;
  transition: max-height 0.3s ease 0s, opacity 0.3s ease 0s, padding-bottom 0.3s ease 0s;
}

.requirementsBlock, .howBlock{
  border-radius: 5px;
  background-color: rgba(41, 48, 84, 0.5);
  cursor: pointer;
  margin: 16px 0
}

.dn{
  max-height: 0px;
  opacity: 0;
  padding: 0px 16px;
  overflow: hidden;
  transition: max-height 0.3s ease 0s, opacity 0.3s ease 0s, padding-bottom 0.3s ease 0s;
}

.addOptionsBlock{
  margin: 24px 0 0 0;
}

.requirementsTitle, .howTitle {
  padding: 16px 0 0 16px;
}

.requirementsTitle h5, .howTitle h5{
  text-transform: uppercase;
}

.formWrapper{
  padding: 0 16px 0 0;
}

.form{
  position: relative;
  width: 300px;
  border-top: 6px solid rgb(121, 50, 255);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 3px 23px;
}

.formImageBlock{
  position: absolute;
  overflow: hidden;
}

.formImage{
  width: 100%;
  display: block;
  transform: translate(0px, -40px);
  background: var(--clr-black);
}

.formImageGradient{
  background: linear-gradient(230.03deg, rgba(0, 0, 0, 0) 21.01%, rgba(8, 13, 38, 0.6) 71.08%, rgb(8, 13, 38) 85.08%);
  position: absolute;
  top: 0;
  left: 0;
  height: 80%;
  width: 100%;
}

.selectChapters{
  padding-top: 230px;
  z-index: 1000000000;
  position: relative;
}

.selectPlatforms{
  display: flex;
  gap: 32px
}

.platformBlock{
  margin-right: 8px;
  margin-top: 8px;
}

.platformRadio{
  position: absolute;
  height: 1px;
}

.platformOption{
  background: rgb(82, 62, 201);
  color: rgb(255, 255, 255);
  border-color: transparent;
  display: flex;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid rgba(103, 107, 139, 0.4);
}

.platformOptionNotActive{
  background: transparent ;
}


.platformLabel{
  display: block;
  cursor: pointer;
}

