.backgroundImg{
  background-image: linear-gradient(to right, rgba(124, 230, 100, 0.58), rgba(180, 21, 82, 0.48)), url(../../assets/home-background-3.jpg);
}

.wrapper{
  display: block;
}

.textBlock{
  display: block;
}
