.root{
  display: flex;
  justify-content: space-between;
  background-color: rgb(14,14,17,0.6);
  width: 90%;
  height: 4vw;
  padding: 0 5rem 0 0rem;
}

.logoSpan{
  display: block;
  text-align: center;
  padding-left: 2.5rem;
}


.imgWrapper{
  display: flex;
}

.img{
  width: 200px;
  height: 50px;
}


.navLink{
  display: flex;
  cursor: pointer;
}

.listLinks{
  display: flex;
  gap: 2rem;
}

.tabs{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.linkCart{
  color: var(--clr-black);
  display: flex;
  gap: 0.5rem;
}

.cart{
  position: relative;
}

.cartSpan{
  display: flex;
  width: 1.2rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--clr-primary-3);
  color: var(--clr-white);
  position: absolute;
  left: 1.5rem;
  top: -0.5rem;
}

.login{
  display: flex;
  gap: 0.5rem;
}

.register{
  display: flex;
  gap: 0.5rem;
}
.imgLogin{
  border-radius: 50%;
}

.loginName{
  display: block;
  text-align: center;
}

.loginOut{
  position: absolute;
  left: 67px;
  top: 23px;
}