.nav{
  display: grid;
}

.sidebarWrapper{
  background-color: #14141A;
}

.navLink{
  display: flex;
  cursor: pointer;

}

.listLinks{
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 1rem;
}


.weekend{
  display: flex;
  color:#FFFFDC;
  gap: 1rem;
}

.heading{
  font-size: 24px;
  padding: 1rem 0 0 5rem;
}


.imgWrapper{
  display: flex;
}

.img{
  width: 260px;
  height: 111px;
  border-radius: 50%;
}

.link{
  padding:1.5rem;
  color:#FFFFDC;
}

.link:hover{
  background-color: #1E1E27;
  border: 1px solid black;
  border-radius: 10px;
}