.wrapper{
  display: flex;
  width: 10rem;
  margin: 5rem auto;
  flex-direction: column;
  gap: 2rem;
}

.label{
  flex-direction: column;
  display: flex;
  gap: .2rem;
  text-align: center;
}

.input{
  border-radius: 50px;
  border:1px solid var(--clr-primary-10);
  padding: 1rem;
  background-color: var(--clr-grey-10);
}

.btn{
  padding: 1.2rem;
  background-color: var(--clr-red-light);
  border-radius: 10px;
  border: 2px solid var(--clr-grey-8);
}